<html>
<body>
<h1>Dosna Webapp</h1>
<h2>How to use</h2>
<p>
    To view objects inside a pool use /list/obj/&lt;poolname&gt
    <br>
    For example /list/obj/test-dosna
</p>
<p>
    To display image of the object use /display/img/&ltpool&gt/&ltobj&gt
    <br>
    For example display/img/test-dosna/190903132342_data_
</p>
<p>
    To display a particular slice of an object use /display/img/&ltpool&gt/&ltobj&gt/slice/&lt xslice &gt/&lt yslice &gt/&lt zslice &gt
    <br>
    For example display/img/test-dosna/190903132342_data_/slice/0:225/0:225/45
    <br>
    For example display/img/test-dosna/190903132342_data_/slice/65/0:225/0:225
    <br>
    For example display/img/test-dosna/190903132342_data_/slice/0:255/102/0:225
</p>
</body>
</html>